@model List<SCsms.Models.Events>

@{
    ViewBag.Title = "比赛信息修改和删除";
    Layout = "~/Views/Shared/_BackAdmin.cshtml";
}


<h2>游泳比赛比赛信息修改和删除</h2>


<div style="margin-top: 50px; text-align: center;">
    <table style="border-collapse: collapse; width: 100%;" class="table table-striped">
        @if (Model != null)
        {
            <thead>
                <tr>
                    <th style="border: 1px solid #dee2e6; padding: 10px;" scope="col">比赛编号</th>
                    <th style="border: 1px solid #dee2e6; padding: 10px;" scope="col">比赛名字</th>
                    <th style="border: 1px solid #dee2e6; padding: 10px;" scope="col">比赛开始时间</th>
                    <th style="border: 1px solid #dee2e6; padding: 10px;" scope="col">比赛最大人数</th>
                    <th style="border: 1px solid #dee2e6; padding: 10px;" scope="col">比赛组别</th>
                    <th style="border: 1px solid #dee2e6; padding: 10px;" scope="col">修改</th>
                    <th style="border: 1px solid #dee2e6; padding: 10px;" scope="col">删除</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var events in Model)
                {
                <tr>
                    <td style="border: 1px solid #dee2e6; padding: 10px;">@events.EventID</td>
                    <td style="border: 1px solid #dee2e6; padding: 10px;">@events.EventName</td>
                    <td style="border: 1px solid #dee2e6; padding: 10px;">@events.EventDate</td>
                    <td style="border: 1px solid #dee2e6; padding: 10px;">@events.MaxParticipants</td>
                    <td style="border: 1px solid #dee2e6; padding: 10px;">@events.EventGroup</td>
                    <td style="border: 1px solid #dee2e6; padding: 10px;"><input type="button" onclick="redirectToUpdate('@events.EventID')" class="btn btn-primary" value="修改" /></td>
                    <td style="border: 1px solid #dee2e6; padding: 10px;"><input type="button" onclick="redirectToDelete('@events.EventID')" class="btn btn-primary" value="删除" /></td>

                </tr>
                }
            </tbody>
        }
        else
        {

        }
    </table>
</div>

<script>
    function redirectToUpdate(EventID) {
        window.location.href = '/Admin/EventsUpdate?EventID=' + encodeURIComponent(EventID);
    }

    function redirectToDelete(EventID) {
        window.location.href = '/Admin/EventsDelete?EventID=' + encodeURIComponent(EventID);
    }
</script>